<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581851996202-4qs3pah6ul76ctkr6rq5eg7807p2ebje.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581851996202-4qs3pah6ul76ctkr6rq5eg7807p2ebje</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Tz1fljLB_Cb5DBaMm-h__ErmZXfExf4</string>
	<key>GCM_SENDER_ID</key>
	<string>581851996202</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fluttertemplate.jia</string>
	<key>PROJECT_ID</key>
	<string>flutter-template-jia</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-template-jia.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581851996202:ios:9e81a4c4ac3c3ee32a6353</string>
</dict>
</plist>